# Logs
logs
*.log
pnpm-debug.log*
.prettierrc.json

node_modules
dist
dist-ssr
scripts
*.local
pnpm-lock.yaml

package.json
package-lock.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.env
